<header class="w-screen">
    <div class="flex justify-between px-10 pt-5">
        <%= link_to "My Tasks", root_path %>
        
        <nav>
            <ul class="flex justify-between gap-3">
                <li class="hover:underline"><%= link_to "Due Today", "#" %></li>
                <li class="hover:underline"><%= link_to "Categories", categories_path %></li>
                <li class="hover:underline"><%= link_to "All Tasks", tasks_path %></li>
            </ul>
        </nav>

        <% if user_signed_in? %>
            <%= link_to "My Profile", edit_user_registration_path %>
            <%= button_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
            <%= button_to "Sign In", new_user_session_path %>
        <% end %>
    </div>
</header>